[Unit]
Description=Ironic API Service
Documentation=https://docs.openstack.org/ironic/latest/
After=docker.service mariadb.service rabbitmq.service
Requires=docker.service

[Service]
Type=simple
Restart=on-failure
RestartSec=10s

ExecStartPre=-{{ docker_bin }} stop {{ ironic_api_container_name }}
ExecStartPre=-{{ docker_bin }} rm {{ ironic_api_container_name }}
ExecStartPre=-{{ docker_bin }} pull {{ ironic_image_repo }}/ironic:{{ ironic_image_tag }}

ExecStart={{ docker_bin }} run --name {{ ironic_api_container_name }} \
    --rm \
    --network {{ docker_network_name }} \
    -v {{ ironic_etc_dir }}/ironic.conf:/etc/ironic/ironic.conf:ro,z \
    -v {{ ironic_etc_dir }}/htpasswd:/etc/ironic/htpasswd:ro,z \
    -v {{ ironic_var_log_dir }}:/var/log/ironic:z \
    -p {{ ironic_api_port }}:6385 \
    {{ ironic_image_repo }}/ironic:{{ ironic_image_tag }} \
    ironic-api

ExecStop={{ docker_bin }} stop {{ ironic_api_container_name }}

TimeoutStartSec=120
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
