[Unit]
Description=Ironic RabbitMQ Message Queue Service
After=docker.service
Requires=docker.service

[Service]
Type=simple
Restart=on-failure
RestartSec=10s

ExecStartPre=-{{ docker_bin }} stop {{ rabbitmq_container_name }}
ExecStartPre=-{{ docker_bin }} rm {{ rabbitmq_container_name }}
ExecStartPre=-{{ docker_bin }} pull {{ rabbitmq_image }}

ExecStart={{ docker_bin }} run --name {{ rabbitmq_container_name }} \
    --rm \
    --network {{ docker_network_name }} \
    -e RABBITMQ_DEFAULT_USER={{ rabbitmq_user }} \
    -e RABBITMQ_DEFAULT_PASS={{ rabbitmq_password }} \
    -e RABBITMQ_DEFAULT_VHOST={{ rabbitmq_vhost }} \
    -v {{ rabbitmq_data_dir }}:/var/lib/rabbitmq:z \
    -p {{ rabbitmq_amqp_port }}:5672 \
    -p {{ rabbitmq_management_port }}:15672 \
    {{ rabbitmq_image }}

ExecStop={{ docker_bin }} stop {{ rabbitmq_container_name }}

TimeoutStartSec=120
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
