[Unit]
Description=Ironic RabbitMQ Message Queue Service
After=docker.service
Requires=docker.service

[Service]
Type=simple
Restart=on-failure
RestartSec=10s

ExecStartPre=-{{ docker_bin }} stop {{ rabbitmq_container_name }}
ExecStartPre=-{{ docker_bin }} rm {{ rabbitmq_container_name }}
ExecStartPre=-{{ docker_bin }} pull {{ rabbitmq_image }}

ExecStart={{ docker_bin }} run --name {{ rabbitmq_container_name }} \
    --rm \
    --network {{ docker_network_name }} \
    --env-file {{ ironic_etc_dir }}/rabbitmq.env \
    -v {{ rabbitmq_data_dir }}:/var/lib/rabbitmq:z \
    -p {{ rabbitmq_bind_addr }}:{{ rabbitmq_amqp_port }}:5672 \
    -p {{ rabbitmq_bind_addr }}:{{ rabbitmq_management_port }}:15672 \
    {{ rabbitmq_image }}

ExecStop={{ docker_bin }} stop {{ rabbitmq_container_name }}

TimeoutStartSec=120
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
