[Unit]
Description=Ironic OS Image Downloader
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes

Environment=UBUNTU_LTS_IMAGE_ENABLED={{ 'true' if ubuntu_lts_image_enabled | bool else 'false' }}
Environment=UBUNTU_LTS_IMAGE_URL={{ ubuntu_lts_image_url }}
Environment=UBUNTU_LTS_META_RELEASE_URL={{ ubuntu_lts_meta_release_url }}
Environment=UBUNTU_LTS_IMAGE_ARCH={{ ubuntu_lts_image_arch }}
Environment=UBUNTU_LTS_IMAGE_DIR={{ ubuntu_lts_image_directory }}
Environment=UBUNTU_LTS_IMAGE_FILENAME={{ ubuntu_lts_image_filename }}
Environment=UBUNTU_LTS_IMAGE_PATH={{ ubuntu_lts_image_local_path }}
Environment=UBUNTU_LTS_IMAGE_CHECKSUM_PATH={{ ubuntu_lts_image_checksum_local_path }}
Environment=FLATCAR_IMAGE_ENABLED={{ 'true' if flatcar_image_enabled | bool else 'false' }}
Environment=FLATCAR_IMAGE_DIR={{ flatcar_image_directory }}
Environment=FLATCAR_RAMDISK_KERNEL_SOURCE_URL={{ flatcar_ramdisk_kernel_source_url }}
Environment=FLATCAR_RAMDISK_INITRAMFS_SOURCE_URL={{ flatcar_ramdisk_initramfs_source_url }}
Environment=FLATCAR_RAMDISK_KERNEL_FILENAME={{ flatcar_ramdisk_kernel_filename }}
Environment=FLATCAR_RAMDISK_INITRAMFS_FILENAME={{ flatcar_ramdisk_initramfs_filename }}
Environment=FLATCAR_RAMDISK_KERNEL_PATH={{ flatcar_ramdisk_kernel_local_path }}
Environment=FLATCAR_RAMDISK_INITRAMFS_PATH={{ flatcar_ramdisk_initramfs_local_path }}
Environment=FLATCAR_RAMDISK_KERNEL_CHECKSUM_PATH={{ flatcar_ramdisk_kernel_checksum_local_path }}
Environment=FLATCAR_RAMDISK_INITRAMFS_CHECKSUM_PATH={{ flatcar_ramdisk_initramfs_checksum_local_path }}

ExecStart={{ os_image_downloader_script_path }}

TimeoutStartSec=1800
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
