[Unit]
Description=Ironic HTTP Server Service (IPA Images and Boot ISOs)
Documentation=https://docs.openstack.org/ironic/latest/
After=docker.service ipa-downloader.service os-image-downloader.service
Requires=docker.service
Wants=ipa-downloader.service os-image-downloader.service

[Service]
Type=simple
Restart=on-failure
RestartSec=10s

ExecStartPre=-{{ docker_bin }} stop {{ ironic_http_container_name }}
ExecStartPre=-{{ docker_bin }} rm {{ ironic_http_container_name }}
ExecStartPre=-{{ docker_bin }} pull {{ ironic_http_image }}

ExecStart={{ docker_bin }} run --name {{ ironic_http_container_name }} \
    --rm \
    --network {{ docker_network_name }} \
    -v {{ ironic_http_images_dir }}:/usr/share/nginx/html:ro,z \
    -p {{ ironic_http_bind_addr }}:{{ ironic_http_port }}:80 \
    {{ ironic_http_image }}

ExecStop={{ docker_bin }} stop {{ ironic_http_container_name }}

TimeoutStartSec=60
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
