version: 2
ethernets:
  all:
    match:
      name: "e*"
    dhcp4: false
    addresses:
      - {{ lab_vm_host }}/24
    routes:
      - to: default
        via: {{ lab_mgmt_network_gateway }}
    nameservers:
      addresses: [{{ lab_mgmt_network_gateway }}, 8.8.8.8]
