#cloud-config
hostname: {{ lab_vm_name }}
users:
  - name: {{ lab_vm_user }}
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    groups: [sudo]
    ssh_authorized_keys:
      - {{ lab_vm_pubkey }}
# Packages are installed later by lab_prereqs. Avoid cloud-init apt here so
# a transient DNS/NAT miss does not mark first boot as failed.
runcmd:
  - true
