# {{ ansible_managed }}
clouds:
  {{ ironic_cloud_name }}:
    auth_type: "{{ ironic_cli_auth_type }}"
    auth:
{% if ironic_cli_auth_type == 'http_basic' %}
      endpoint: "{{ ironic_cli_endpoint }}"
      username: "{{ ironic_admin_username }}"
      password: "{{ ironic_admin_password }}"
{% elif ironic_cli_auth_type == 'v3password' %}
      auth_url: "{{ keystone_auth_url }}"
      username: "{{ keystone_username }}"
      password: "{{ keystone_password }}"
      project_name: "{{ keystone_project_name }}"
      user_domain_name: "{{ keystone_user_domain_name }}"
      project_domain_name: "{{ keystone_project_domain_name }}"
{% elif ironic_cli_auth_type == 'none' %}
      endpoint: "{{ ironic_cli_endpoint }}"
{% endif %}
    baremetal_endpoint_override: "{{ ironic_cli_endpoint }}"
    interface: "{{ ironic_cloud_interface }}"
    region_name: "{{ ironic_cloud_region_name }}"
{% if ironic_cli_auth_type == 'v3password' %}
    identity_api_version: 3
{% endif %}
{% if ironic_cli_baremetal_api_version | length > 0 %}
    baremetal_api_version: "{{ ironic_cli_baremetal_api_version }}"
{% endif %}
