# {{ ansible_managed }}
OS_AUTH_TYPE={{ ironic_cli_auth_type }}
OS_ENDPOINT={{ ironic_cli_endpoint }}
{% if ironic_cli_baremetal_api_version | length > 0 %}
OS_BAREMETAL_API_VERSION={{ ironic_cli_baremetal_api_version }}
{% endif %}
{% if ironic_cli_auth_type == 'http_basic' %}
OS_USERNAME={{ ironic_admin_username }}
OS_PASSWORD={{ ironic_admin_password }}
{% endif %}
