# {{ ansible_managed }}
OS_CLOUD={{ ironic_cloud_name }}
OS_INTERFACE={{ ironic_cloud_interface }}
OS_REGION_NAME={{ ironic_cloud_region_name }}
{% if ironic_cli_baremetal_api_version | length > 0 %}
OS_BAREMETAL_API_VERSION={{ ironic_cli_baremetal_api_version }}
{% endif %}
OS_BAREMETAL_ENDPOINT_OVERRIDE={{ ironic_cli_endpoint }}
{% if ironic_cli_auth_type == 'http_basic' %}
OS_AUTH_TYPE=http_basic
OS_ENDPOINT={{ ironic_cli_endpoint }}
OS_USERNAME={{ ironic_admin_username }}
OS_PASSWORD={{ ironic_admin_password }}
{% elif ironic_cli_auth_type == 'v3password' %}
OS_AUTH_TYPE=v3password
OS_AUTH_URL={{ keystone_auth_url }}
OS_USERNAME={{ keystone_username }}
OS_PASSWORD={{ keystone_password }}
OS_PROJECT_NAME={{ keystone_project_name }}
OS_USER_DOMAIN_NAME={{ keystone_user_domain_name }}
OS_PROJECT_DOMAIN_NAME={{ keystone_project_domain_name }}
OS_IDENTITY_API_VERSION=3
{% elif ironic_cli_auth_type == 'none' %}
OS_AUTH_TYPE=none
OS_ENDPOINT={{ ironic_cli_endpoint }}
{% else %}
OS_AUTH_TYPE={{ ironic_cli_auth_type }}
{% endif %}
