[Unit]
Description=Ironic MariaDB Database Service
After=docker.service
Requires=docker.service

[Service]
Type=simple
Restart=on-failure
RestartSec=10s

ExecStartPre=-{{ docker_bin }} stop {{ mariadb_container_name }}
ExecStartPre=-{{ docker_bin }} rm {{ mariadb_container_name }}
ExecStartPre=-{{ docker_bin }} pull {{ mariadb_image }}

ExecStart={{ docker_bin }} run --name {{ mariadb_container_name }} \
    --rm \
    --network {{ docker_network_name }} \
    -e MYSQL_DATABASE={{ mariadb_database }} \
    -e MYSQL_USER={{ mariadb_user }} \
    -e MYSQL_PASSWORD={{ mariadb_password }} \
    -e MYSQL_ROOT_PASSWORD={{ mariadb_root_password }} \
    -v {{ mariadb_data_dir }}:/var/lib/mysql:z \
    -p {{ mariadb_port }}:3306 \
    {{ mariadb_image }}

ExecStop={{ docker_bin }} stop {{ mariadb_container_name }}

TimeoutStartSec=120
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
