# Per-conductor instance configuration override
# Loaded AFTER the main ironic.conf; values here take precedence.

[DEFAULT]
host = ironic-conductor-{{ conductor_instance_name }}

[conductor]
workers_pool_size = {{ conductor_workers_pool_size }}
{% if conductor_group_name | default('') %}
conductor_group = {{ conductor_group_name }}
{% endif %}
clean_step_priority_override = generic.erase_devices:0
